<div class="alert alert-danger" ng-show="error">
  {{ error }} 
</div>

<div class="alert alert-success" ng-show="success">
  {{ success }} 
</div>

<form style="margin: 10px 0" ng-show="user.authenticated()">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="inserting.name">
  </div>
  <button class="btn btn-success" ng-click="insert()">Save</button>
</form>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="person in people">
    <div class="row">
      <div class="col-md-9">
        {{ person.name }}
      </div>
      <div class="col-md-1">
        <button ng-click="edit(person)" class="btn btn-primary">Edit</button>
      </div>
      <div class="col-md-2">
        <button ng-click="delete(person)" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </li>
</ul>
<h6>{{ user }}</h6>